@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: Azedo;
  src: url('../../fonts/azedo-bold.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Azedo;
  src: url('../../fonts/azedo-light.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Yorker;
  src: url('../../fonts/yorker.ttf') format('truetype');
}
