@import '~susy';

// Center-align a block
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Shorthand for width and height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Shorthand for responsive rule declaration
@mixin breakrule($rule, $mobile-value, $tablet-value, $desktop-value, $susy: ()) {
  #{$rule}: $mobile-value;

  @include susy-breakpoint($tablet, $susy) {
    #{$rule}: $tablet-value;
  }

  @include susy-breakpoint($desktop, $susy) {
    #{$rule}: $desktop-value;
  }
}
