// Breakpoints
$tablet: min-width 920px;
$desktop: min-width 1040px;

// Colours
$color-primary: #bfa94e;
$color-secondary: #1a1a1a;
$color-bg-light: #ebebeb;

// Typefaces
$font-sans-fallback: 'Arial', 'Open Sans', 'Tahoma', sans-serif;
$font-sans-1: 'Helvetica', $font-sans-fallback;
$font-sans-2: 'Azedo', $font-sans-1;

// Transitions
$transition-router-duration: 400ms;
$transition-router: opacity $transition-router-duration cubic-bezier(.23, 1, .32, 1);
