// Breakpoints
$tablet: min-width 920px;
$desktop: min-width 1040px;

// Colours
$color-primary: #bfa94e;
$color-secondary: #1a1a1a;
$color-bg-light: #ebebeb;
$color-bg-dark: #000;
$color-text: #ebebeb;

// Typefaces
$font-sans: Helvetica, Arial, sans-serif;
$font-serif: Yorker, Lato, Palatino, serif;
$font-hero: Azedo, $font-sans;

// Transitions
$transition-router-duration: 400ms;
$transition-router: opacity $transition-router-duration cubic-bezier(.23, 1, .32, 1);
