@import '~susy';

// Center-align a block
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Shorthand for width and height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Shorthand to make an element fill its parent's width
@mixin fluid-fill($max-width) {
  max-width: $max-width;
  width: 100%;
}

// Shorter syntax to declare a column span for each breakpoint
@mixin bp-spans($mobile-span, $tablet-span, $desktop-span, $susy) {
  @include span($mobile-span);

  @include susy-breakpoint($tablet, $susy) {
    @include span($tablet-span);
  }

  @include susy-breakpoint($desktop, $susy) {
    @include span($desktop-span);
  }
}

// Shorter syntax to declare a height for each breakpoint
@mixin bp-heights($mobile-height, $tablet-height, $desktop-height, $susy) {
  height: $mobile-height;

  @include susy-breakpoint($tablet, $susy) {
    height: $tablet-height;
  }

  @include susy-breakpoint($desktop, $susy) {
    height: $desktop-height;
  }
}
