// Breakpoints
$tablet: min-width 920px;
$desktop: min-width 1040px;

// Colours
$color-primary: #bfa94e;
$color-secondary: #1a1a1a;

// Typefaces
$font-sans-fallback: 'Open Sans', 'Tahoma', sans-serif;
$font-sans-1: 'Azedo', 'Helvetica Neue', 'Helvetica', $font-sans-fallback;
$font-sans-2: 'Shadows Into Light', $font-sans-fallback;
