@import '~variables';
@import '~mixins';
@import '~susy';

.page {
  @include size(100%);
  background: $color-bg-light;
}

.container {
  @include container(400px);
  padding: 30px;
}

.logo {
  @include center-block;
  text-align: center;
  font-size: 8em;
  padding: 50px 0;
}

.title {
  margin: 15px 0 0;
  text-align: center;
}

.card {
  padding: 5px 25px;
}

.consent {
  margin: 25px 0;
  text-align: center;
  font-size: 14px;
}

.names {
  @include container;

  .nameField:nth-child(1) {
    @include span(2 first);
  }

  .nameField:nth-child(2) {
    @include span(2 last);
  }
}

.buttons {
  @include container;
  margin: 25px 0;

  .button:nth-child(1) {
    @include span(2 first);
  }

  .button:nth-child(2) {
    @include span(2 last);
  }
}
