@import '~variables';
@import '~fonts';

:global {
  html, body, #app {
    width: 100%;
    height: 100%;
  }

  :focus {
    outline: none;
  }

  .example-enter {
    opacity: .01;
    transition: opacity .5s ease-in;
  }

  .example-enter.example-enter-active {
    opacity: 1;
  }

  .example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .example-leave.example-leave-active {
    opacity: 0;
  }
}
