@import '~variables';
@import '~mixins';
@import '~fonts';

.app {
  @include size(100%);
  background: $color-bg-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:global {
  body {
    font-family: $font-sans-1;
  }

  :focus {
    outline: none;
  }
}

:global {
  .routerTransition-enter {
    opacity: .01;
    transition: $transition-router;
    transition-delay: $transition-router-duration / 2;
    position: absolute;
    top: 0;

    &.routerTransition-enter-active {
      opacity: 1;
    }
  }

  .routerTransition-leave {
    opacity: 1;
    transition: $transition-router;
    z-index: -10;

    &.routerTransition-leave-active {
      opacity: .01;
    }
  }

  .routerTransition-appear {
    opacity: .01;
    transition: $transition-router;

    &.routerTransition-appear-active {
      opacity: 1;
    }
  }
}
