@import '~placeholders';
@import '~variables';
@import '~susy';

$susy: (
  columns: 12,
  container: 1120px
);

.page {
  @extend %page;
}

.topBar {
  @include container($susy);
}

.container {
  @include container;
  margin-top: 30px;
}

.menuBar {
  @include span(3 first);
}

.feed {
  @include span(6);
}

.chatBar {
  @include span(3 last);
}
