.nav {

}

.link {
  display: inline-block;
  font-size: 1.125em; // ~18px
  padding: 3px 8px;
  text-decoration: none;

  &, &:active, &:visited {
    color: rgba(255, 255, 255, .6);
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.link_highlight {
  background: rgba(0, 0, 0, .15);
  border-radius: 3px;
  color: #fff;
  margin-left: 8px;
  margin-right: 8px;

  &:hover {
    background: rgba(0, 0, 0, .3);
  }
}

.spacer {
  color: rgba(255, 255, 255, .3);
}
