@import '../../styles/variables';

.filled {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  border: 3px solid $color-secondary;
  background: $color-secondary;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 45px;
  cursor: pointer;
  transition: background 200ms, border-color 200ms;
  user-select: none;

  &:hover, &:focus {
    border-color: lighten($color-secondary, 10%);
    background: lighten($color-secondary, 10%);
  }

  &:active {
    border-color: $color-secondary;
    background: $color-secondary;
  }
}

.outline {
  @extend .filled;
  background: #fff;
  color: $color-secondary;

  &:hover, &:focus {
    border-color: lighten($color-secondary, 10%);
    background: darken(#fff, 5%);
  }
}
