@import '../variables';

$brand-color: #61dafb;

.header {
  background: #373277;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 20px 0;
}

.brand {
  color: lighten($brand-color, 10%);
  font-size: 1.75em; // ~28px
  text-decoration: none;
}

.brandtxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannertitle {
  font-size: 4em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding: 10px;
}

.bannerdesc {
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
