.avatar {
  vertical-align: top;
}

.header {
  padding: 20px 15px 15px;
  border-bottom: 1px solid #eee;
}

.title {
  display: inline-block;
  margin: 0 0 0 15px;
  font-weight: normal;

  .subtitle {
    font-size: 14px;
  }
}
