@import '~susy';

.footer {
  @include container;
  font-weight: normal;
  display: block;

  .likes {
    @include span(1 of 2 first);
    text-align: center;
  }

  .comments {
    @include span(1 of 2 last);
    text-align: center;
  }
}
