@import '../variables';

.Footer {
  background: #333;
  color: #fff;

  &-container {
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 20px 15px;
    text-align: center;
  }

  &-text {
    color: rgba(255, 255, 255, .5);

    &--muted {
      color: rgba(255, 255, 255, .3);
    }
  }

  &-spacer {
    color: rgba(255, 255, 255, .3);
  }

  &-text, &-link {
    font-size: 1em;
    padding: 2px 5px;
  }

  &-link {
    &, &:active, &:visited {
      color: rgba(255, 255, 255, .6);
      text-decoration: none;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
