@import '../variables';

.footer {
  background: #333;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: $max-content-width;
  text-align: center;
}

.spacer {
  color: rgba(255, 255, 255, .3);
}

.text {
  color: rgba(255, 255, 255, .5);
}

.link {
  padding: 2px 5px;
  font-size: 1em;

  @extend .text;

  &, &:active, &:visited {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
