@import '~variables';

.footer {
  background: $color-secondary;

  .credits {
    margin: 0;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    color: #ccc;

    a {
      color: #ccc;
      text-decoration: none;
      border-bottom: 1px solid #ccc;

      &:hover, &focus {
        color: #fff;
      }
    }
  }
}
