@import '../../styles/variables';
@import '~bourbon';
@import '~neat';

.page {
  @include size(100%);
  background: url('../../images/backgrounds/landing.png') center / cover;
}

.container {
  @include outer-container;
}

.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 180px;
}
