@import '../../styles/variables';
@import '../../styles/mixins';
@import '~bourbon';
@import '~neat';

.page {
  @include size(100%);
  background: url('../../images/backgrounds/landing.png') center/cover;
}

.container {
  @include outer-container;
  padding: 190px 20px;

  @include media($tablet) {
    padding-top: 100px;
  }
}

.logo {
  @include center-block;
  width: 180px;

  @include media($tablet) {
    width: 200px;
  }
}

.ribbon {
  background: $color-dark-main;
}

.buttons {

}
