@import '~variables';

.entries {
  list-style: none;
  padding: 0;
}

.entry {
  padding: 10px 12px 10px 15px;
  transition: background 200ms, border-color 200ms;
  border-right: 3px solid transparent;
  color: $color-secondary;
  text-decoration: none;
  display: block;

  &.active {
    border-color: rgb(26, 152, 57);
  }

  &:hover, &:focus {
    background: darken(#fff, 5%);
  }

  &:active {
    background: darken(#fff, 10%);
  }

  .text {
    margin-left: 10px;
  }
}

.divider {
  height: 1px;
  background: #eee;
  display: block;
  margin: 0 15px;
}
