@import '~variables';

.page {
  width: 100vw;
  height: 100vh;
  background: $color-bg-dark url('../../images/backgrounds/404.jpg') no-repeat right;
  background-size: auto 100vh;
}

.container {
  background: fade-out(#000, .5);
  height: 100%;
  width: 100%;
}

.link {
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  left: 0;
  font-size: 15vmin;
  color: #fff;
  background: url('../../images/backgrounds/404.jpg') no-repeat top right;
  background-size: auto 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
